<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>{{libro.title}}</title>
    </head>
    <body>
        <h1>{{libro.title}}</h1>
        {% if libro.thumbnailUrl %}
            <img src="{{libro.thumbnailUrl}}" alt="Imagen del libro"/>
        {% endif %}
        {% if libro.status == "MEAP" %}
            <p><strong>Estado:</strong>Este libro no ha sido publicado</p>
        {% else %}
            <p><strong>Estado:</strong>Publicado</p>
        {% endif %}
        <p><strong>Número de páginas:</strong> {{libro.pageCount}}</p>
        {% if libro.shortDescription %}
            <p><strong>Descripción:</strong> {{libro.shortDescription}}</p>
        {% endif %}
        {% if libro.authors %}
            <p><strong>Autores:</strong></p>
            {% for autores in libro.authors %}
                <ul>
                    <li><p>{{autores}}</p></li>
                </ul>
            {% endfor %}
        {% endif %}
        {% if libro.categories %}
        <p><strong>Categorías:</strong></p>
            {% for cat in libro.categories %}
                <ul>
                    <li><a href="/categoria/{{cat}}">{{cat}}</a></li>
                </ul>
            {% endfor %}
        {% endif %}
        <a href="/">Inicio</a>
    </body>
</html>